@model TravelBlog.Models.Location
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Location Details</h2>
<hr />
<h3>@Html.DisplayNameFor(thisLocation => thisLocation.Name): @Html.DisplayFor(thisLocation => thisLocation.Name)</h3>
<h4>Experiences from this location:</h4>

@foreach (var experience in Model.Experiences)
{
    <div class="well">
        <h4><a href=/experience/Details/@Html.DisplayFor(model => experience.ExperienceId)>@Html.DisplayFor(model => experience.Description)</a></h4>

        <h5>People from this experience:</h5>
    
        @foreach(var people in experience.People)
        {
            @Html.ActionLink(@people.Description, "Details", "People", new { id = people.PeopleId })
        }
    </div>
}
