@model TravelBlog.Models.Location
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2>Location Details</h2>
    <hr />
    <h3>@Html.DisplayNameFor(thisLocation => thisLocation.Name): @Html.DisplayFor(thisLocation => thisLocation.Name)</h3>
    <h4>Experiences from this location:</h4>
    <ul>
        @foreach (var item in Model.Experiences)
        {

        <li>@Html.LabelFor(model => item.Description, "Description: ") <a href=/experience/Details/@Html.DisplayFor(model => item.ExperienceId)>@Html.DisplayFor(model => item.Description)</a></li>


        }
    </ul>
    <p>@*@Html.ActionLink(@Html.DisplayFor(model => item.Description))*@</p>
   
    <p>@*@Html.DisplayNameFor(model => model.LocationId): @Html.DisplayFor(model => model.LocationId)*@</p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |*@
</body>