@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Locations</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listLocation in Model)
        {
            <li>
                @Html.DisplayFor(modelLocation => listLocation.Name) |
                @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId }) |
   @* @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })*@



            </li>
        }
    </ul>
    <p>@Html.ActionLink("Add new location", "Create")</p>
</body>