@model TravelBlog.Models.People

@{
    ViewData["Title"] = "people - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new people</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Experiences, "Experience: ")
    @Html.DropDownList("ExperienceId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to Home", "Index")
