@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<h4>Experiences I've shared with this person:</h4>

@Html.LabelFor(model => Model.Experiences.Description, "Description: ")
       
<p>@Html.ActionLink(@Model.Experiences.Description, "Details", "Experience", new { id = Model.ExperienceId })</p>


<p>@Html.ActionLink("Back to list view", "Index", "People")</p>
