@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
<hr />
<h4>Edit this person: @Html.DisplayFor(model => model.Description)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PeopleId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.ExperienceId, "Experience")
    @Html.DropDownList("ExperienceId")

    <input type="submit" value="Save" class="btn btn-default" />
}
@Html.ActionLink("People Home", "Index")
